body {
  background-color: #123456 !important;
}
h1 {
  font-size: 32px;
  color: cornsilk !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  color: whitesmoke !important;
  font-size: 29px;
}
